modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_mYfeUFInUqHOyfVnJWUZMSTAdwX"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_sITQnCltkQAyFwuQArYaKlfrxOv"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "goog_mYfeUFInUqHOyfVnJWUZMSTAdwX"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appbba506e922"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appdc2db095f6"
REVENUECAT_PROJECT_ID = "proj2c05bed8"
REVENUECAT_TEST_STORE_APP_ID = ""
